// navi frame width
$navi-width: 240px;

// foreground (text) color for the navi frame
$navi-color: #000;

// background for the navi frame
$navi-background: #ffffff;

// box-shadow for the navi frame
$navi-shadow: 0 5px 10px rgba(101, 101, 101, 0.16);